{#

Embeds a organization within the sidebar of a page.

organization - The organization dict.
truncate     - A max length for the description. If not provided, it will be full length.

Example:

    {% snippet 'snippets/organization, organization=c.group_dict %}

#}

{% with truncate=truncate or 0, url=h.url_for('organization.read', id=organization.name) %}
  <div class="module context-info">
    <section class="module-content">
      {% if organization.image_display_url %}
        <img src="{{ organization.image_display_url }}" alt="{{ organization.name }}" class="pb-2"/>
      {% endif %}

      <h1 class="heading p-0">{{ organization.title or organization.name }}</h1>
      {% if organization.description %}
        <p>
          {{ h.markdown_extract(organization.description, 180) }}
          {% link_for _('read more'), named_route='organization.about', id=organization.name %}
        </p>
      {% else %}
        <p class="empty">{{ _('There is no description for this organization') }}</p>
      {% endif %}
    </section>
  </div>
{% endwith %}
