{% block header_wrapper %}

  {% block header_account %}{% endblock %}

  {% macro header_menu(items, mobile=false) %}
    {% for menu_item in items if not menu_item.hide %}
    <li class="vic-dropdown-menu rpl-menu__item">
      {% if menu_item.child is defined %}
      <a href="{{ menu_item.url }}" class="rpl-link {% if mobile %}rpl-menu__item-link{% endif %} dropdown-toggle"><span>{{ menu_item.title }}</span></a>
      {% else %}
      <a href="{{ menu_item.url }}" class="rpl-link rpl-menu__item-link">{{ menu_item.title }}</a>
      {% endif %}
      
      <div class="dropdown" style="display: none;">
        <div class="container">
          <div class="dropdown-header">
            <h3>{{ menu_item.subtitle or menu_item.title }}</h3>
          </div>
          <ul class="dropdown-items">
            {% for menu_item in menu_item.child if not menu_item.hide %}
            <li>
              <a href="{{ menu_item.url }}" class="dropdown-item">
                <span>{{ menu_item.title }}</span>
              </a>
            </li>
            {% else %}
            <li><p>{{ _("No child items was created yet") }}</p></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
    {% endfor %}
  {% endmacro %}

  {% set menu_items = h.get_header_structure(g.userobj) %}

  <nav id="mobile-menu" class="rpl-site-header hidden" data-module="datavic-odp-header datavic-odp-breadcrumb">
    <div class="rpl-site-header__inner">
      <div class="rpl-site-header__top">
        <div class="rpl-site-header__logo-container">
          <button id="btn-mobile-menu-close" aria-expanded="true" class="rpl-site-header__btn rpl-site-header__btn--menu rpl-site-header__btn--menu-open">
            {% snippet 'snippets/svg/close.svg' %}
            <span>{{ _('Close menu') }}</span>
          </button>
        </div>
        <div class="rpl-site-header__menu-container rpl-site-header__menu-container--vertical">
          <div class="rpl-site-header__menu">
            <div data-vpos="0" data-visibledepth="0" class="rpl-menu rpl-menu--open rpl-menu--root rpl-menu--vertical">
              <div class="rpl-menu__inner">
                <div class="rpl-menu__inner_root">
                  <div class="rpl-menu__column">
                    <div class="rpl-menu__header"><!----> <!----></div>
                    <ul class="rpl-menu__items rpl-menu__items--root" data-module="datavic-dropdown" data-module-is-mobile="true">
                      {{ header_menu(menu_items, mobile=true) }}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rpl-site-header__btn-container"><!----> <!----></div>
      </div> <!---->
    </div>
  </nav>

  <nav id="main-menu" class="rpl-site-header">
    <div class="rpl-site-header__inner">
      <div class="rpl-site-header__top">
        <div class="rpl-site-header__logo-container">
          <button id="btn-mobile-menu-open" aria-expanded="false" class="rpl-site-header__btn rpl-site-header__btn--menu">
            {% snippet 'snippets/svg/burger.svg' %}
            <span>{{ _('Menu') }}</span>
          </button>
          
          <div class="rpl-site-header__title rpl-site-header__logo-container--vic-logo-primary rpl-site-header__logo-container--vic-logo-primary--cobrand">
            <a href="https://www.vic.gov.au/" class="rpl-link" target="_blank">
              <img src="/images/vic-header-logo.png" alt="vic_logo">
            </a>
          </div>
          
          <div class="rpl-site-header__title cobrand">
            <a href="{{ h.get_parent_site_url() }}" class="rpl-link">
              <img src="/images/data-vic-logo-x3.png" alt="Data.Vic logo">
            </a>
          </div>
        </div>
        
        <div class="rpl-site-header__menu-container rpl-site-header__menu-container--horizontal">
          <div class="rpl-site-header__menu">
            <div data-vpos="0" data-visibledepth="0" class="rpl-menu rpl-menu--root rpl-menu--horizontal">
              <div class="rpl-menu__inner">
                <div class="rpl-menu__inner_root">
                  <div class="rpl-menu__column">
                    <div class="rpl-menu__header">
                      
                    </div>
                    <ul class="rpl-menu__items rpl-menu__items--root" data-module="datavic-dropdown">
                      {{ header_menu(menu_items) }}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rpl-site-header__btn-container">
        </div>
      </div>
    </div>
  </nav>

{% endblock %}
