{% set dtv_resources = h.get_digital_twin_resources(pkg.id)|map(attribute="id")|list %}
{% set dtv_preview = pkg.enable_dtv %}

{% if dtv_resources and dtv_preview %}
    <section class="datapreview resource-preview">
        <div class="header-container">
            <h3>{{ _('Map preview') }}</h3>
            <a href="https://vic.digitaltwin.terria.io/?utm_source=DataVic&utm_medium=datarecordwebpage+&utm_campaign=DataVicDTVlink#{{ h.url_for_dtv_config(dtv_resources, false) }}" target="_blank" class="dtv-external-link">
                {{ _("See this dataset in the Digital Twin Victoria") }}
                {% snippet 'snippets/svg/external-link.svg' %}
            </a>
        </div>
        <div class="resource-view resource-view">
            <iframe frameborder="0"
                    src="https://vic.digitaltwin.terria.io/#{{ h.url_for_dtv_config(dtv_resources) }}&hideWorkbench=1"
                    height="600px" width="100%"></iframe>
        </div>
    </section>
{% endif %}
