{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block core_fields %}
  <fieldset>
    <legend>{{ _('Change details') }}</legend>
    {% if g.userobj.sysadmin %}
      {{ form.input('name', label=_('Username'), id='field-username', value=data.name, error=errors.name, classes=['control-medium'], is_required=true) }}
    {% else %}
      {{ form.input('name', label=_('Username'), id='field-username', value=data.name, error=errors.name, classes=['control-medium'], attrs={'readonly': '', 'class': 'form-control'}) }}
    {% endif %}

    {{ form.input('fullname', label=_('Full name'), id='field-fullname', value=data.fullname, error=errors.fullname, placeholder=_('eg. Joe Bloggs'), classes=['control-medium']) }}

    {% if g.userobj.sysadmin %}
      {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, placeholder=_('eg. joe@example.com'), classes=['control-medium'], is_required=true) }}
    {% else %}
      {% call form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, placeholder=_('eg. joe@example.com'), classes=['control-medium'], is_required=true, attrs={'readonly': '', 'class': 'form-control'}) %}
        {% set email_help_html %}
            To update your email address, please <a href="https://www.data.vic.gov.au/contact-us">contact us</a>.
        {% endset %}
        {{ form.info(text=email_help_html|safe) }}
      {% endcall %}
    {% endif %}

    {{ form.markdown('about', label=_('About'), id='field-about', value=data.about, error=errors.about, placeholder=_('A little information about yourself')) }}

    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label=_('Profile picture'), url_label=_('Profile picture URL') ) }}
  </fieldset>
{% endblock %}
